$width: 640px;
$height: 640px;
$gap: calc($width/40);

body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: 'arial';
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: $gap solid #bbada0;
  border-radius: calc($gap/3);
  width: $width + 3 * $gap;
  height: $height + 3 * $gap;
  display: grid;
  grid-template-columns: repeat(4, calc($height/4));
  grid-template-rows: repeat(4, calc($height/4));
  background-color: #bbada0;
  // padding: 10px;
  gap: $gap;  
}

.tile {
  background-color: #d6cdc4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $gap *4;
  border-radius: calc($gap/3);

  &.active {

    transition: transform .2s ease-in-out;

    &.val_2 {
      background-color: #eee4da;
      color: #776e65;
    }
    &.val_4 {
      background-color: #ede0c8;
      color: #776e65;
    }
    &.val_8 {
      background-color: #f2b179;
      color: #f9f6f2;
    }
    &.val_16 {
      background-color: #f59563;
      color: #f9f6f2;
    }
    &.val_32 {
      background-color: #f67c5f;
      color: #f9f6f2;
    }
    &.val_128 {
      background-color: #edcf72;
      color: #f9f6f2;
    }
    &.val_2048 {
      background-color: #edc53f;
      color: #f9f6f2;
    }
  }

}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  